<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="jdbc.properties">
        <!--<property name="url" value="jdbc:mysql://localhost:3306/mybatis?characterEncoding=utf8"></property>-->
        <!--<property name="driver" value="com.mysql.jdbc.Driver"></property>-->
        <!--<property name="username" value="root"></property>-->
        <!--<property name="password" value="MinYuan2018"></property>-->
    </properties>
    <settings>
        <!--自动驼峰命名-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

        <setting name="cacheEnabled" value="true"></setting>
    </settings>


    <typeAliases>
        <!--<typeAlias type="com.atguigu.mybatis.hello.pojo.User" alias="user"></typeAlias>-->
        <!--<package name="com.atguigu.mybatis.hello.pojo"></package>-->
        <!--<package name="com.atguigu.mybatis.hello.domain"></package>-->
    </typeAliases>


    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <databaseIdProvider type="DB_VENDOR">

        <!--name是数据库名,value是我们用来表示这个数据库的id值
        这个id值卸载databasseid属性中
        -->
        <property name="SQL Server" value="sqlserver"/>
        <property name="DB2" value="db2"/>
        <property name="Oracle" value="oracle" />
        <property name="MySQL" value="mysql" />
    </databaseIdProvider>

    <mappers>
        <!--<mapper resource="com/atguigu/mybatis/hello/mapper/UserMapper.xml"/>-->
        <!--<mapper class="com.atguigu.mybatis.hello.mapper.UserMapper"></mapper>-->
        <package name="com.atguigu.mapper"></package>
    </mappers>


</configuration>