<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
mapper 就是映射,    映射mapper接口的方法和sql语句的对应关系
    namespace名称空间/命名空间
        必须是Mapper接口全类名
-->
<mapper namespace="com.atguigu.mapper.UserMapper">

    <cache type="com.atguigu.cache.MySecondCache">
        <!--使用二级缓存-->
    </cache>
    <select id="queryUserById" resultType="com.atguigu.pojo.User" useCache="false" flushCache="true">
        select
        `id`,`last_name` lastName,`sex`
        from
        t_user
        where
        id =#{id}
    </select>


    <insert id="insertUser" parameterType="com.atguigu.pojo.User">
        insert into t_user (last_name,sex) values (#{lastName},#{sex})
    </insert>
</mapper>